/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FAIDX_REFERENCE {
        publishDir = [
            enabled: false
            ]
    }

    withName: PBMM2_INDEX_REFERENCE {
        publishDir = [
            enabled: false
            ]
    }

    withName: SAMTOOLS_BGZIP {
        publishDir = [
            enabled: false
            ]
    }

    withName: SAMTOOLS_FAIDX {
        publishDir = [
            enabled: false
            ]
    }

    withName: FAST5_TO_POD5 {
        publishDir = [
            enabled: false
            ]
    }

    withName: DORADO_BASECALLER {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/dorado" },
            pattern:  "*.{bam,bai}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: DORADO_BASECALL_SUMMARY {
        publishDir = [
            enabled: false
            ]
    }

    withName: PYCOQC {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            pattern:  "*.{html,json}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: PBMM2_FROM_BAM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/pbmm2" },
            pattern:  "*.{cram,crai}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: EXTRACT_LOW_MG_FROM_CRAM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/whatshap/" },
            pattern:  "*.cram*",
            enabled: true
            ]
    }

    withName: SPLIT_CRAM_BY_CHROM {
        publishDir = [
            enabled: false
            ]
    }


    withName: SAWFISH {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/sawfish/" },
	        pattern:  "*sawfish*",
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: ANNOTSV_SAWFISH {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/sawfish/" },
	        pattern:  "*.tsv*",
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: DEEPVARIANT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/deepvariant/" },
	        pattern:  "*.vcf*",
            mode: 'copy',
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: ANNOTSV_DEEPVARIANT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/deepvariant/" },
	    pattern:  "*.tsv*",
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: SPLIT_VCF_BY_CHROM_DEEPVARIANT {
        publishDir = [
            enabled: false
            ]
    }

    withName: SPLIT_VCF_BY_CHROM_SAWFISH  {
        publishDir = [
            enabled: false
            ]
    }

    withName: EDIT_SNV_GENOTYPE  {
        publishDir = [
            enabled: false
            ]
    }

    withName: WHATSHAP_PHASE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/whatshap/" },
	        pattern:  "*.vcf*",
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    

    withName: WHATSHAP_HAPLOTAG {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/whatshap/" },
	        pattern:  "*.cram*",
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: MERGE_HAPLOTAG_CRAM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/whatshap/" },
            pattern:  "*.merged.haplotagged.cram*",
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: MOSDEPTH {
      publishDir = [
          path: { "${params.outdir}/${meta.id}/mosdepth/" },
          pattern:  "*{mosdepth,bed}*",
          mode: params.publish_dir_mode
          ]
    }
      

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

}
